a {
  text-decoration:none;
  color:white;
}

a:hover {
  color:#cccccc;
}

/*.pending-false {
  background-color: #76896e;
  width:500px;
}*/

#true {
  background-color:#4c5847;
  width:500px;
}

#false {
  background-color:#76896e;
}

.suggestion-boxes:hover {
  cursor:pointer;
}

.suggestion-boxes {
  background-color:#76896e;
  width:500px;
  font-weight:bold;
  color:#ebebe3;
}
