<body ng-controller="suggestionController">
  <header id="top" class="header">
    <div class="text-vertical-center btn btn-dark btn-lg">
      <h1>Bar Suggestion?</h1>
      <br>
      <!-- Login --><!--Marcus Bar Suggestion Form-->
      <form class="form-signin left">
        <h2 class="form-signin-heading">Fill out the details</h2>
        <input type="text" id="inputEstName" class="form-control" placeholder="Name of Establishment" ng-model="estName" required autofocus>
        <input type="text" id="inputCity" class="form-control" placeholder="City" ng-model="estCity" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="findYelpBar(estName, estCity)">Search</button>
      </form>
      <div ng-repeat='data in barData'</div>
      <div>
      <div>Restaurant name is: {{data.name}}</div>
      <div>Address is: {{data.location.address[0]}}</div>
      <button class='add-suggestion' type='submit' ng-click='sendSuggestion(data)'>Add</button>
    </div>
      <!-- <div>Bar Data is: {{barData}} </div> -->
    </div>
  </header>


  <!-- <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Wiggler</h2>
        </div>
      </div>
    </div>
  </section> -->
</body>